[core]
    ; git doesn't seem to recognize ~ or $HOME, so use an absolute path
    excludesfile = /Users/jkocherhans/.gitignore.global
[user]
	name = Joseph Kocherhans
	email = jkocherhans@mac.com
[alias]
	st = status
	ci = commit
	co = checkout
	outgoing = svn dcommit --dry-run

