*

!.bashrc
!.bash_profile

!.gitconfig
!.gitignore
!.gitignore.global

!.inputrc

!.screenrc

!.vimrc
!.vim/*
!.vim/after/plugin/*
!.vim/autoload/*
!.vim/colors/*
!.vim/doc/*
!.vim/ftplugin/*
!.vim/nerdtree_plugin/*
!.vim/plugin/*
!.vim/snippets/*
!.vim/syntax/*

